@page
@model ObservatoireDesTerritoires.Pages.GraphiqueModel
@{
    ViewData["Title"] = "Graphique";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/gco5.min.css">
</head>
<main role="main" id="indicatorComponent" data-role="component" class="cu-component">
    <section id="tm-pilotage-sc" class="cu-pilotage" data-link="data-restit{:selectedRestit}" data-restit="m" style="height: 750px;">
        <div class="mobile-nav-button1">
            <a href="javascript:void(0)" data-link="{on displayMap}" class="prs" data-jsv="#151^/151^">
                <span class="upc">Afficher la restitution</span> <span data-gcicon="5"></span>
            </a>
        </div>
        <h1 class="cu-h1 hide-iframe" style="color:#01695d;">Indicateurs : données et graphiques</h1>
        <h2 class="upc" style="background-color:#01695d; color:#ffffff">CHOISIR DES INDICATEURS</h2>
        <div class="hide-iframe">
            <div class="tree_choice flex-container flex-center2 mbvs" style="margin-top: -4px;">
            </div>
            <div class="man" data-link="visible{:selectedTree == &#39;__KEYWORD__&#39;}" style="display: none;">
                <p>Mot-clé&nbsp;: <a title="Retour au nuage de mots-clés" onclick="history.back()" href="javascript:void(0)" class="bold"><script type="jsv#1^"></script><script type="jsv/1^"></script></a></p>
            </div>
            <div class="treeindics ui-tree-classic" style="">
                <div data-role="collapsible-set" class="ui-collapsible-set">
                    <div class="mts">
                        <div data-role="collapsible" data-pk="zng" data-level="1" data-nbthemes="3" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
                                <form method="post" asp-page-handler="Zonage">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Zonages et périmètres</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="demo" data-level="1" data-nbthemes="7" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Demographie">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Démographie</span></div>
                                    </button>
                                </form>

                            </h3>

                        </div>
                        <div data-role="collapsible" data-pk="eco" data-level="1" data-nbthemes="5" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Economie">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Economie générale</span></div>
                                    </button>
                                </form>
                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="emp" data-level="1" data-nbthemes="4" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
                                <form method="post" asp-page-handler="Emploi">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Emploi</span></div>
                                    </button>
                                </form>
                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="rev" data-level="1" data-nbthemes="3" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">


                                <form method="post" asp-page-handler="Revenus">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Revenus et niveau de vie</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="dipl_form" data-level="1" data-nbthemes="3" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">


                                <form method="post" asp-page-handler="Diplome">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Diplôme - formation</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="mobil" data-level="1" data-nbthemes="3" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Mobilites">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Mobilités</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="logt" data-level="1" data-nbthemes="4" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">


                                <form method="post" asp-page-handler="Logement">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Logement</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="equip_serv" data-level="1" data-nbthemes="5" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Equipements">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Equipements - services</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="env" data-level="1" data-nbthemes="5" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Environnement">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Environnement</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="vie_soc" data-level="1" data-nbthemes="2" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Citoyennete">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Citoyenneté - vie sociale</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                        <div data-role="collapsible" data-pk="fin_fisc_loc" data-level="1" data-nbthemes="4" class="ui-collapsible ui-collapsible-collapsed" style="position:relative;overflow:hidden;">
                            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">

                                <form method="post" asp-page-handler="Finances">
                                    <button type="submit">
                                        <div><span class="ui-li-label">Finances publiques et fiscalité locale</span></div>
                                    </button>
                                </form>

                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="no-display mts errMsg indics_msg small" style="display: none;">Votre recherche n'a pas d'échos</p>
        </div>
        <div>
                        @if (!string.IsNullOrEmpty(Request.Query["Filter"]))
            {
                <h2 class="upc" style="background-color:#01695d; color:#ffffff">COMPARAISON ENTRE 2 VILLE</h2>
                <div class="js-tabs">
                    <ul class="js-tablist onglet_style c2-on-geo tabs__list" role="tablist">
                        <li class="js-tablist__item tabs__item" role="presentation" aria-selected="true">
                            <a data-pk="map1" class="js-tablist__link upc small tabs__link" role="tab" aria-controls="indc2_nav_1" tabindex="0" aria-selected="true">Carte 1</a>
                        </li>
                        <li class="js-tablist__item tabs__item" role="presentation" aria-selected="false">
                            <a data-pk="map2" class="js-tablist__link upc small tabs__link" role="tab" aria-controls="indc2_nav_2" tabindex="-1" aria-selected="false">Carte 2</a>
                        </li>
                        <li class="js-tablist__item tabs__item" role="presentation">
                            &nbsp;
                        </li>
                    </ul>
                    <section id="indc2_nav_1" class="js-tabcontent js-tabcontent-geo tabs__content" role="tabpanel" aria-labelledby="label_indc2_nav_1">
                        <div class="flex-container ptvs w100">
                            <form method="post" asp-page-handler="Ville">
                                <select id="ville" name="ville1" style="height: 28px;width: 92px;">
                                    @foreach (var item in Model.FilterVilles)
                                    {
                                        <option>@item.ville</option>
                                    }
                                </select>
                                <select id="ville" name="ville2" style="height: 28px;width: 93px;">
                                    @foreach (var item in Model.FilterVilles)
                                    {
                                        <option>@item.ville</option>
                                    }
                                </select>                               
                                <input type="submit" value="Comparer" style="padding: 3px 0px; width: 65px;" />
                                <select hidden id="libelle" name="thelist" style="visibility: hidden">
                                    @foreach (var item in Model.FilterValues)
                                    {
                                        <option>@item.Libelle</option>
                                    }
                                </select>
                            </form>
                        </div>

                    </section>
                </div>
            }
        </div>
        <div class="import" style="display: flex; justify-content: center; align-items: center; margin: 20px;">
                <bouton class="button-3" role="button">
                    <a name="import" href="/Import">Importer un fichier</a>
                </bouton>
            </div>
            <form method="post" asp-page-handler="Logout">
            <div class="logout" style="display: flex; justify-content: center; align-items: center; margin: 20px;">
                    <button type="submit" class="button-3" role="button" name="logout">Se déconnecter</button>
                </div>
            </form>
    </section>
    <div style="width:487.5px;">
        @if (Model.Model != null && Model.Model.Count() > 0)
        {
            <div style="height:300px; width:487.5px; overflow-y: scroll;">
                <table id="tableau" class="rwd-table">
                    <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>Value</th>
                            <th>Ville</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Model)
                        {
                            <tr>
                                <td>@item.Libelle</td>
                                <td>@item.value</td>
                                <td>@item.Ville</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        @if (Model.Model != null && Model.Model.Count() > 0)
        {
            <div class="option" style="width: 487.5px;">
                <form method="post" asp-page-handler="Filter">
                    <select id="libelle" name="thelist" style="height: 28px; width: 426px;">
                        @foreach (var item in Model.FilterValues)
                        {
                            <option>@item.Libelle</option>
                        }
                    </select>
                    <input type="submit" value="Filtrer" />
                </form>
            </div>
            @if (!string.IsNullOrEmpty(Request.Query["Filter"]))
            {
                <div style="height: 272px;display: flex;justify-content: center;">
                    <canvas id="myBaton" style="display: block; box-sizing: border-box; height: 270px; width: 450px;"></canvas>
                </div>
            }
        }
    </div>
    @if (!string.IsNullOrEmpty(Request.Query["Filter"]))
    {
        <div style="width: 457.5px;height: 600px;display: flex;align-items: center; justify-content:center;">
            <div style="padding: 10px;">
                <canvas id="myCamembert" style="display: block; box-sizing: border-box; height: 400px; width: 400px;"></canvas>
            </div>
        </div>
    }
</main>